[flake8]
max-line-length = 120
exclude = .github,.venv,__pycache__,.mypy_cache,.pytest_cache, infrastructure, alembic/*, .venv/*, data/*
show-source = True
per-file-ignores =
    __init__.py: F401
extend-ignore =
    F821,
